@model WSafe.Domain.Models.CrtVulnerabilityVM

@{
    ViewBag.Title = "Create";
}

<style>
    .tabAmenaza {
        display: none;
    }

    .centerText {
        text-align: center
    }

</style>

<div class="container">
    <hr />
    <hr />
    <h6 class="centerText">GESTIÓN DE AMENAZAS</h6>
    <div class="row justify-content-between">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" id="idAmenaza" title="doble click para cerrar la ventana">IDENTIFICACIÓN AMENAZAS</button>
            <button type="button" class="btn btn-success" id="plans" title="doble click para cerrar la ventana">PLANES DE ACCIÓN</button>
            <button type="button" class="btn btn-success" id="pons" title="doble click para cerrar la ventana">PLAN OPERATIVO NORMALIZADO</button>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="tabAmenaza">
            <input type="hidden" id="vulnerabilityID" name="vulnerabilityID" />
            <input type="hidden" id="interventionID" name="interventionID" />
            @Html.Partial("_EditAmenazas")
        </div>
        <div style="display: inline-block;">
            <div class="showIntervenciones"></div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
        <script>

            $("#idAmenaza").click(function () {
                $(".tabAmenaza").css("display", "block");
            });
            $("#btnUpdateVulmerability").hide();
            $("#btnAddNewVulnerability").hide();

        </script>
}
