@model WSafe.Domain.Models.CrtVulnerabilityVM

@{
    ViewBag.Title = "Create";
}

<style>
    .tabAmenaza {
        display: none;
    }

    .centerText {
        text-align: center
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<h4 class="centerText">GESTIÓN DE AMENAZAS</h4>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" id="idAmenaza" title="doble click para cerrar la ventana">1. IDENTIFICACIÓN AMENAZA</button>
            <button type="button" class="btn btn-success" id="intervention" title="doble click para cerrar la ventana">2. MEDIDAS DE INTERVENCIÓN</button>
            <button type="button" class="btn btn-success" id="plans" title="doble click para cerrar la ventana">3. PLANES DE ACCIÓN</button>
            <button type="button" class="btn btn-success" id="pons" title="doble click para cerrar la ventana">4. PLAN OPERATIVO NORMALIZADO</button>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="tabAmenaza">
                <hr />
                @Html.Partial("_EditAmenazas")
            </div>
            <div style="display: inline-block;">
                <div class="showIntervenciones"></div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
        <script>

            $("#idAmenaza").click(function () {
                $(".tabAmenaza").css("display", "block");
            });

        </script>
}
