<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial;
        font-size: 14px;
        margin:0;
        padding:0;
    }

    .container-fluid {
        padding:20px;
    }

    .row {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 10px;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .content {
        background: #3D74B0;
        color: #f1f1f1;
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px;
        text-align: justify;
    }

    </style>

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="~/Images/wsafe2.jpg">
            </div>
            <div class="col-md-6">
                <div class="content">
                    <h2><strong><b>WSafe permite:</b></strong></h2>
                    <h3>=> Optimizar los procesos del SG-SST</h3>
                    <h3>=> Realizar evaluaciones y plan de mejoramiento para el cumplimiento de las mestas del SG-SST</h3>
                    <h3>=> Obtener estadísticas e indicadores</h3>
                    <h3>=> Puedes ingresar a la plataforma a traves de un PC, portátil, tablet o celuar y desde cualquier lugar con conexión a internet</h3>
                    <h3>=> Generar una cultura de seguridad integrada con la productividad y mejora continua en el desarrollo del talento humano</h3>
                    <h3>=> Realizar soporte técnico, mantenimiento y capacitación</h3>
                    <h3>=> Confidencialidad, integridad y disponibilidad del SG-SST</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
