<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .container-fluid {
        padding: 20px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 1%;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: 100%;
        margin: 0;
    }

    .content {
        background: white;
        color: #f1f1f1;
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px;
        text-align: justify;
    }

    .content h3 {
        margin: 10px 0;
    }

    p {
        color:darkblue;
        padding:2%;
    }

    </style>

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" src="~/Images/wsafe2.jpg">
            </div>
            <div class="col-md-4">
                <div class="card text-bg-primary mb-3" style="max-width: 60rem; font-size:16px;">
                    <h2><strong>WSafe permite:</strong></h2>
                    <div class="card-body">
                        <p class="card-text"><i class="fa fa-check"></i> Optimizar los procesos del SG-SST</p>
                        <p class="card-text"><i class="fa fa-check"></i> Realizar las evaluaciones y plan de mejoramiento del SG-SST</p>
                        <p class="card-text"><i class="fa fa-check"></i> Obtener estadísticas e indicadores del SG-SST</p>
                        <p class="card-text"><i class="fa fa-check"></i> Ingresar a la plataforma a través de un PC, portátil, tablet o celular y desde cualquier lugar con conexión a internet</p>
                        <p class="card-text"><i class="fa fa-check"></i> Crear una cultura de seguridad integrada con la productividad y mejora continua en el desarrollo del talento humano</p>
                        <p class="card-text"><i class="fa fa-check"></i> Realizar solicitudes de soporte técnico, mantenimiento y capacitación</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
