@{
    ViewBag.Title = "Home Page";
}

<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial;
        font-size: 14px;
    }

    .container img {
        vertical-align: middle;
    }

    .container {
        position: relative;
    }


    .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7" style="width:50%; height:50%; padding:0.0%; margin:0%">
            <img class="img-responsive" src="~/Images/wsafe2.jpg">
        </div>
        <div class="col-md-5" style="font-size: 18px; text-align:justify; padding:10%">
            <p><strong>WSafe</strong></p>
            <p1>Facilidad para la planeación, el diseño y la implementación de las acciones para identificar, valorar y controlar las fuentes o situaciones que pongan en peligro la seguridad y salud de los trabajadores, con máxima eficiencia.</p1>
        </div>
    </div>
</div>
