<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial;
        font-size: 14px;
    }

    .container-fluid {
        padding:0;
    }

    .row {
        display:flex;
        flex-wrap:wrap;
    }

    .col-md-6 {
        width:50%;
        padding:0;
    }

    .img-responsive {
        max-width:100%;
        height:auto;
    }

    .content {
        position: relative;
        background: #3D74B0; /* Fallback color */
        color: #f1f1f1;
        width: auto;
        height: auto;
        padding: 10%;
        font-size: 20px;
        text-align: justify;
        border-radius: 15%;
        margin-top: 30%;
    }

    </style>

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="width:50%; height:50%; padding:0.0%; margin:0%">
                <img class="img-responsive" src="~/Images/wsafe2.jpg">
            </div>
            <div class="col-md-6">
                <div class="content">
                    <p><strong><b>WSafe</b></strong></p>
                    <p1>Plataforma tecnológica que facilita la planeación, el diseño y la implementación de las acciones para identificar, valorar y controlar las fuentes o situaciones que pongan en peligro la seguridad y salud de los trabajadores, con máxima eficiencia.</p1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
