@model WSafe.Web.Models.AccionViewModel
<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="addSeguiAcc">Adicionar nuevo Seguimiento</button>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Fecha seguimiento
            </th>
            <th>
                Resultado
            </th>
            <th>
                Responsable
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>