@model WSafe.Web.Models.AccionViewModel
<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="addPlanAcc">Adicionar nuevo plan acción</button>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Causa
            </th>
            <th>
                Accion
            </th>
            <th>
                Prioritaria
            </th>
            <th>
                Responsable
            </th>
            <th>
                Costos
            </th>
            <th>
                Fecha inicial
            </th>
            <th>
                Fecha final
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>