@model WSafe.Web.Models.AccionViewModel
<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="addSeguiAcc">Adicionar nuevo Seguimiento</button>
</div>
<div class="container" style="background-color:mediumaquamarine">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    FECHA SEGUIMIENTO
                </th>
                <th>
                    RESULTADO
                </th>
                <th>
                    RESPONSABLE
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
