@model WSafe.Web.Models.IncidenteViewModel

<hr class="mt-4">
<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="addLesionado">Adicionar nuevo Lesionado</button>
    </div>
    <div class="table-responsive-xl" style="background-color:azure">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        DOCUMENTO
                    </th>
                    <th>
                        NOMBRE
                    </th>
                    <th>
                        GENERO
                    </th>
                    <th>
                        ESTADO CIVIL
                    </th>
                    <th>
                        TIPO VINCULACIÓN
                    </th>
                    <th>
                        CARGO
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
</div>
