@model WSafe.Web.Models.IncidenteViewModel
<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="addLesionado">Adicionar nuevo Lesionado</button>
</div>
<div class="container" style="background-color:mediumaquamarine">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    DOCUMENTO
                </th>
                <th>
                    NOMBRE
                </th>
                <th>
                    GENERO
                </th>
                <th>
                    ESTADO CIVIL
                </th>
                <th>
                    TIPO VINCULACIÓN
                </th>
                <th>
                    CARGO
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
