@model WSafe.Web.Models.IncidenteViewModel
<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="addLesionado">Adicionar nuevo Lesionado</button>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Documento
            </th>
            <th>
                Nombres
            </th>
            <th>
                Genero
            </th>
            <th>
                Estado civil
            </th>
            <th>
                TipoVinculación
            </th>
            <th>
                Cargo
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>