<div class="container" style="background-color:mediumaquamarine">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="txtBarrier">Descripción Defensa :</label>
                    <select name="txtBarrier" id="txtBarrier" class="form-control">
                        <option selected="selected" value="">Seleccione una defensa ...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="txtBarrierCat">Categorías Defensas</label>
                <div class="col-md-6">
                    <select name="txtBarrierCat" id="txtBarrierCat" class="form-control input-lg">
                        <option selected="selected" value="0">Seleccione un factor causal...</option>
                        <option value="1">Equipo</option>
                        <option value="2">Diseño</option>
                        <option value="3">Administración</option>
                        <option value="4">Supervisión</option>
                        <option value="5">Dispositivos</option>
                        <option value="6">Habilidades</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="txtCausal"></span>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>