@{ 
    var trabajadores = ViewBag.trabajadores;
}

<hr />
<div class="container" style="background-color: azure; width: 50%; padding: 3%; border-style: double">
    <div class="row">
        <div class="col-md-4">
            <p><strong>INGRESAR PLAN DE MEJORAMIENTO :</strong></p>
        </div>
        <div class="col-md-8">
            <p id="txtItem"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-12">
                    <hr />
                    <label for="txtObservation">Observaciones :</label>
                    <textarea id="txtObservation" style="resize:none;" class="form-control" rows=3 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-12">
                    <hr />
                    <label for="intervencion">Actividades :</label>
                    <textarea id="txtActivity" style="resize:none;" class="form-control" rows=3 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-4" for="Respons">Funcionario responsable</label>
                <div class="col-md-8">
                    @Html.DropDownList("trabajadores", trabajadores as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "txtResponsable"})
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <label for="txtRecursos">RECURSOS :</label><br />
        <div class="form-group">
            <div class="col-md-3">
                <label for="txtFinancieros">Financieros</label>
                <input type="checkbox" id="txtFinancieros" />
            </div>
            <div class="col-md-3">
                <label for="txtAdministrativos">Administrativos</label>
                <input type="checkbox" id="txtAdministrativos" />
            </div>
            <div class="col-md-3">
                <label for="txtTecnicos">Técnicos</label>
                <input type="checkbox" id="txtTecnicos" />
            </div>
            <div class="col-md-3">
                <label for="txtHumanos">Humanos</label>
                <input type="checkbox" id="txtHumanos" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4" for="txtFechaFinal">Fecha cumplimiento</label>
                <div class="col-md-8">
                    <input type="date" class="form-control" id="txtFechaFinal" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <hr />
                    <label for="txtFundamentos">Fundamentos y soportes :</label>
                    <textarea id="txtFundamentos" style="resize:none;" class="form-control" rows=3 cols=70 required></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-6" for="txtActionCategory">Estado actividad :</label>
                <div class="col-md-8">
                    <select name="txtActionCategory" class="form-control" id="txtActionCategory">
                        <option selected="selected" value="0">Seleccione un estado...</option>
                        <option value="1">Sín Iniciar</option>
                        <option value="2">En Proceso</option>
                        <option value="3">Finalizada</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="txtActionCategory"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-4">
            <button type="button" id="btnAddPlanActivity" class="btn btn-primary" onclick="AddPlanActivity()">Adicionar</button>
            <button type="button" id="btnUpdPlanActivity" class="btn btn-primary" onclick="UpdatePlanActivity()">Actualizar</button>
            <button type="button" id="btnCanPlanActivity" class="btn btn-primary" onclick="CancelPlanActivity()">
                <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
            </button>
        </div>
    </div>
</div>