<div class="container" style="background-color:mediumaquamarine">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="txtDefensa">Descripción Causa principal :</label>
                    <select name="txtDefensa" id="txtDefensa">
                        <option>Seleccione una causa</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-10">
                    <hr />
                    <label for="txtRootCause">Descripcion recomendación :</label>
                    <textarea id="txtRootCause" style="resize:none;" class="form-control" rows=2 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>