<div class="container" style="background-color:mediumaquamarine">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="txtEvent">Descripcion Evento :</label>
                    <textarea id="txtEvent" style="resize:none;" class="form-control" rows=2 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="txtOrder">Orden Evento : </label><br />
                <input name="txtOrder" id="txtOrder" type="number" min=1, max=999>
            </div>
        </div>
    </div>
</div>