<hr />
<div class="container" style="background-color: azure;width:50%;padding:3%;border-style:double">
    <div class="row">
        <div class="col-md-4">
            <p id="txtCiclo"></p>
        </div>
        <div class="col-md-8">
            <p id="itemStandard"></p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <label for="Cumple"> Cumple totalmente con el estándar ? :</label>
            <input type="radio" name="txtCumple" id="txtCumple"/><br />
            <label for="txtNoCumple"> No Cumple totalmente con el estándar ? :</label>
            <input type="radio" name="txtCumple" id="txtNoCumple"/><br />
            <label for="txtJustify"> No aplica y Justifica porque ? :</label>
            <input type="radio" name="txtCumple" id="txtJustify"/><br />
            <label for="txtNoJustify"> No aplica y No Justifica porque ? :</label>
            <input type="radio" name="txtCumple" id="txtNoJustify"/><br />
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="txtObservation">OBSERVACIONES :</label>
                    <textarea id="txtObservation" style="resize:none;" class="form-control" rows=2 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-10">
                    <button type="button" class="btn btn-warning" id="btnPlanActivity">Ingresar Actividad</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <p id="txtCalificacion"></p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>