@{
    var trabajadores = ViewBag.trabajadores;
    var controls = ViewBag.controls;
}

<hr />
<div class="container-fluid" style="background-color:azure">
    <div class="row">
        <div class="col-md-12">
            <label class="control-label" for="control">Medidas de intervención</label>
            <div class="form-group">
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownList("Controles", controls as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "controlMedidaID" })
                </div>
                <div class="col-md-2 col-sm-10">
                    <button type="button" class="btn btn-primary" id="btnAddControl">Adicionar control</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="tabAddControl">
            <input type="hidden" id="txtPlanAccionID" name="txtPlanAccionID" />
            @Html.Partial("_EditControl")
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="CategoriaAplicacion">Aplicación del control</label>
                <select name="CategoriaAplicacion" class="form-control" id="txtCatAplica">
                    <option selected="selected" value="0">Seleccione aplicación...</option>
                    <option value="1">Fuente</option>
                    <option value="2">Medio</option>
                    <option value="3">Individuo</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CategoriaAplicacion"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="Respons">Funcionario responsable</label>
                @Html.DropDownList("Trabajadores", trabajadores as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "idRespons" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="Intervencion">Medida intervención</label>
                <select name="Intervencion" class="form-control" id="idInterven">
                    <option selected="selected" value="0">Seleccione aplicación medida...</option>
                    <option value="1">Eliminacion</option>
                    <option value="2">Sustitucion</option>
                    <option value="3">Controles de ingeniería</option>
                    <option value="4">Controles de administración</option>
                    <option value="5">Señalización</option>
                    <option value="6">Equipos, EPP</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Intervencion"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="finalidad">Finalidad</label>
                <select name="finalidad" class="form-control" id="finalidad">
                    <option selected="selected" value="0">Seleccione finalidad...</option>
                    <option value="1">Preventivo</option>
                    <option value="2">Correctivo</option>
                    <option value="3">Mejora</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="finalidad"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-7 col-sm-10">
                <hr />
                <label for="idBeneficio">Beneficios:</label>
                <textarea id="idBeneficio" style="resize:none;" class="form-control" rows=3 required></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="Presupuesto">Presupuesto</label>
                <input name="Presupuesto" class="form-control" id="idPresup" type="number">
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Presupuesto"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="FechaInicial">Fecha inicial</label>
                <input type="date" class="form-control" id="FechaInicial" required autofocus>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="FechaFinal">Fecha final</label>
                <input type="date" class="form-control" id="FechaFinal" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="idObserv">Observaciones:</label>
                <textarea id="idObserv" style="resize:none;" class="form-control" rows=3 required></textarea>
                <hr class="mt-4">
                <button type="button" class="btn btn-warning" id="btnAddControlTrace">Adicionar seguimiento</button>
            </div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-8">
            <button type="button" id="btnAddInterven" class="btn btn-primary" onclick="AddInterven()">Adicionar</button>
            <button type="button" id="btnUpdInterven" class="btn btn-primary" onclick="UpdateIntervencion()">Guardar</button>
            <button type="button" id="btnCanInterven" class="btn btn-primary" onclick="CancelInterven()">
                <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
            </button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr class="mt-4">
    <div class="tabAddControlTrace">
        <input type="hidden" id="txtPlanAccionID" name="txtPlanAccionID" />
        @Html.Partial("_EditControlTrace")
        <div class="row">
            <div class="col-md-8">
                <hr />
                <button type="button" class="btn btn-primary" onclick="addNewControlTrace()">Adicionar</button>
                <button type="button" class="btn btn-primary" onclick="CancelControTracel()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>
<hr class="mt-4">
