@{
    var trabajadores = ViewBag.trabajadores;
}
<br />
<div class="container" style="background-color:azure">
    <div class="row">
        <div class="col-md-6">
            <p><strong>INGRESAR PLAN DE MEJORAMIENTO :</strong></p>
        </div>
        <div class="col-md-6">
            <p><strong>txtStandard => txtItem</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-12">
                    <hr />
                    <label for="txtObservation">Observaciones :</label>
                    <textarea id="txtObservation" style="resize:none;" class="form-control" rows=3 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-12">
                    <hr />
                    <label for="intervencion">Actividades :</label>
                    <textarea id="txtActivity" style="resize:none;" class="form-control" rows=3 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-2" for="Respons">Funcionario responsable</label>
                <div class="col-md-6">
                    @Html.DropDownList("Trabajadores", trabajadores as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "txtResponsable" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2" for="txtRecursos">Recursos :</label>
                <div class="col-md-6">
                    <select name="txtRecursos" class="form-control" id="txtRecursos">
                        <option selected="selected" value="0">Seleccione un recurso...</option>
                        <option value="1">Financieros</option>
                        <option value="2">Administrativos</option>
                        <option value="3">Técnicos</option>
                        <option value="4">Humanos</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="txtRecursos"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2" for="txtFechaFinal">Fecha cumplimiento</label>
                <div class="col-md-6">
                    <input type="date" class="form-control" id="txtFechaFinal" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-12">
                    <hr />
                    <label for="txtFundamentos">Fundamentos y soportes :</label>
                    <textarea id="txtFundamentos" style="resize:none;" class="form-control" rows=3 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2" for="txtActionCategory">Estado actividad :</label>
                <div class="col-md-6">
                    <select name="txtActionCategory" class="form-control" id="txtActionCategory">
                        <option selected="selected" value="0">Seleccione un estado...</option>
                        <option value="1">Sín Iniciar</option>
                        <option value="2">En Proceso</option>
                        <option value="3">Finalizada</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="txtActionCategory"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>