<div class="container" style="background-color:mediumaquamarine">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="txtMainCause">Descripción Causa principal :</label>
                    <select name ="txtMainCause" id="txtMainCause" class="form-control input-lg">
                        <option value="" selected>-- Seleccione una causa principal --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-10">
                    <hr />
                    <label for="txtRecomendation">Descripcion recomendación :</label>
                    <textarea id="txtRecomendation" style="resize:none;" class="form-control" rows=2 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>