@{
    var controls = ViewBag.controls;
    var mainCauses = ViewBag.mainCauses;
    var medidaActual = ViewBag.medidaActual;
}

<div class="container" style="background-color:azure">
    <hr class="mt-4">
    <h4 style="text-align:center">REGISTRAR SEGUIMIENTO</h4>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-12">
            <label class="control-label" for="controlTrace">Nueva medida de intervención a aplicar</label>
            <div class="form-group">
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownList("Controles", controls as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "controlTraceID" })
                </div>
                <div class="col-md-2 col-sm-10">
                    <button type="button" class="btn btn-primary" id="btnAddControl">Adicionar control</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="checkbox" id="efectividad" name="efectividad">
                <label class="control-label" for="efectividad"> Fué efectiva la medida</label><br>
                <input name="presupuesto" class="form-control" id="efectividad">
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="efectividad"></span>
            </div>
        </div>
        <div class="col-md-8">
            <label class="control-label" for="maintCauseID">Causa fundamental de inefectividad de la medida</label>
            <div class="form-group">
                <div class="col-md-8 col-sm-10">
                    @Html.DropDownList("Causas", mainCauses as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "maintCauseID" })
                </div>
                <div class="col-md-2 col-sm-10">
                    <button type="button" class="btn btn-primary" id="btnAddMainCause">Adicionar causa principal</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 col-sm-10">
                <hr />
                <label for="observations">Observaciones:</label>
                <textarea id="observations" style="resize:none;" class="form-control" rows=3 required></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="tabAddMainCause">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="mainCause">Causa de inefectividad:</label>
                        <textarea id="mainCause" class="form-control" rows="3" cols="70" style="resize: none;" required></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" onclick="addMainCause()">Adicionar</button>
                <button type="button" class="btn btn-primary" onclick="CancelMainCause()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
        </div>
        <hr class="mt-4">
    </div>

</div>
