@{
    var users = ViewBag.Users;
}

<br />
<div class="container" style="background-color: azure; width: 50%; padding: 3%; border-style: double">
    <div class="row">
        <div class="col-md-4">
            <p><strong>INGRESAR MENSAJE NUEVO :</strong></p>
        </div>
        <div class="col-md-8">
            <p id="txtSendAsunto"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-4" for="Respons">Destinatario 1 :</label>
                <div class="col-md-8">
                    @Html.DropDownList("Usuarios", users as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "txtDestino1" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-4" for="Respons">Destinatario 2 :</label>
                <div class="col-md-8">
                    @Html.DropDownList("Usuarios", users as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "txtDestino2" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-4" for="Respons">Destinatario 3 :</label>
                <div class="col-md-8">
                    @Html.DropDownList("Usuarios", users as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "txtDestino3" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-12">
                    <hr />
                    <label for="txtAsunto">Asunto :</label>
                    <textarea id="txtAsunto" style="resize:none;" class="form-control" rows=1 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-12">
                    <hr />
                    <label for="txtMessage">Mensaje :</label>
                    <textarea id="txtMessage" style="resize:none;" class="form-control" rows=5 cols=70 required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <hr />
        <div class="col-md-4">
            <button type="button" id="btnSendEmail" class="btn btn-success" onclick="SendEmail()">Enviar</button>
            <button type="button" id="btnCanEmail" class="btn btn-primary" onclick="CancelEmail()">
                <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
            </button>
        </div>
    </div>
</div>