<div class="container" style="background-color:mediumaquamarine">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="txtDefensa">Descripción Defensa :</label>
                    <select name="txtDefensa" id="txtDefensa">
                        <option>Seleccione una defensa</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="txtDefensaCat">Categorías Defensas</label>
                <div class="col-md-6">
                    <select name="txtDefensaCat" class="form-control" id="txtDefensaCat">
                        <option selected="selected" value="0">Seleccione un factor causal...</option>
                        <option value="1">Equipo</option>
                        <option value="2">Diseño</option>
                        <option value="3">Administración</option>
                        <option value="4">Supervisión</option>
                        <option value="5">Dispositivos</option>
                        <option value="6">Habilidades</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="txtCausal"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>