<input type="hidden" id="sigueOccupationalID" name="sigueOccupationalID" />
<div class="container" style="background-color:floralwhite">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <label class="control-label" for="dateSigue">Fecha:</label>
            <div class="form-group">
                <div class="col-md-4 col-sm-10">
                    <input type="date" class="form-control" id="dateSigue" name="dateSigue" required>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="resultado">Resultado:</label>
                <textarea id="resultado" class="form-control" name="resultado" rows="2" required></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="recomendations">Recomendaciones:</label>
                <textarea id="recomendations" class="form-control" name="recomendations" rows="3" required></textarea>
            </div>
        </div>
    </div>

</div>
