@{
    var trabajadores = ViewBag.trabajadores;
    var controls = ViewBag.controls;
    var mainCauses = ViewBag.mainCauses;
}

<style>

    .form-section {
        margin-bottom: 20px;
        display: inline-block;
    }

    .textarea-expanded {
        height: 150px;
    }

    #updTxtAceptability {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-top: 1px;
        margin-left: 2px;
        white-space: normal;
        text-align: center;
        padding: 5px;
    }

    .modal-dialog {
    }

    .modal-body {
        margin-bottom: 0.5%;
    }

    .form-group {
        padding-left: 7%;
    }

    .form-control {
        width: 93%;
        height: auto;
        margin-bottom: 0%;
    }

    .modal-footer {
        margin-top: 0%;
    }

</style>

<div class="container bg-light p-4">
    <div class="row">
        <div class="col-md-12">
            <label class="control-label" for="control">Medida de intervención</label>
            <div class="row">
                <div class="col-md-10 col-sm-10 mb-2">
                    @Html.DropDownList("Controles", controls as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "controlMedidaID" })
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#createControlModal">Crear nuevo control</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="modal fade" id="createControlModal" tabindex="-1" role="dialog" aria-labelledby="createControlModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createControlModalLabel">Crear nuevo control</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="description">Descripción:</label>
                            <textarea id="description" class="form-control" rows="2" style="resize: none;" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="beneficio">Beneficios:</label>
                            <textarea id="beneficio" class="form-control" rows="2" style="resize: none;" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="categoriaApp">Aplicación del control</label>
                            <select name="categoriaApp" class="form-control" id="categoriaApp">
                                <option selected="selected" value="0">Seleccione aplicación...</option>
                                <option value="1">Fuente</option>
                                <option value="2">Medio</option>
                                <option value="3">Individuo</option>
                            </select>
                            <span class="text-danger" data-valmsg-replace="true" data-valmsg-for="categoriaApp"></span>
                        </div>

                        <div class="form-group">
                            <label for="finalidad">Finalidad</label>
                            <select name="finalidad" class="form-control" id="finalidad">
                                <option selected="selected" value="0">Seleccione finalidad...</option>
                                <option value="1">Preventivo</option>
                                <option value="2">Correctivo</option>
                                <option value="3">Mejora</option>
                            </select>
                            <span class="text-danger" data-valmsg-replace="true" data-valmsg-for="finalidad"></span>
                        </div>

                        <div class="form-group">
                            <label for="intervencion">Medida intervención</label>
                            <select name="intervencion" class="form-control" id="intervencion">
                                <option selected="selected" value="0">Seleccione medida...</option>
                                <option value="1">Eliminación</option>
                                <option value="2">Sustitución</option>
                                <option value="3">Controles de ingeniería</option>
                                <option value="4">Controles de administración</option>
                                <option value="5">Señalización</option>
                                <option value="6">Equipos, EPP</option>
                            </select>
                            <span class="text-danger" data-valmsg-replace="true" data-valmsg-for="intervencion"></span>
                        </div>

                        <div class="form-group">
                            <label for="presupuesto">Presupuesto</label>
                            <input name="presupuesto" class="form-control" id="presupuesto" type="number">
                            <span class="text-danger" data-valmsg-replace="true" data-valmsg-for="presupuesto"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="addNewControl()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-section">
        <div class="col-md-3 mb-3">
            <div class="form-group">
                <label class="control-label" for="CategoriaAplicacion">Aplicación del control</label>
                <select name="CategoriaAplicacion" class="form-control" id="txtCatAplica">
                    <option selected="selected" value="0">Seleccione aplicación...</option>
                    <option value="1">Fuente</option>
                    <option value="2">Medio</option>
                    <option value="3">Individuo</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CategoriaAplicacion"></span>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">
                <label class="control-label" for="Respons">Funcionario responsable</label>
                @Html.DropDownList("Trabajadores", trabajadores as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "idRespons" })
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">
                <label class="control-label" for="Intervencion">Medida intervención</label>
                <select name="Intervencion" class="form-control" id="idInterven">
                    <option selected="selected" value="0">Seleccione aplicación medida...</option>
                    <option value="1">Eliminacion</option>
                    <option value="2">Sustitucion</option>
                    <option value="3">Controles de ingeniería</option>
                    <option value="4">Controles de administración</option>
                    <option value="5">Señalización</option>
                    <option value="6">Equipos, EPP</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Intervencion"></span>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">
                <label class="control-label" for="finalidad">Finalidad</label>
                <select name="finalidad" class="form-control" id="finalidad">
                    <option selected="selected" value="0">Seleccione finalidad...</option>
                    <option value="1">Preventivo</option>
                    <option value="2">Correctivo</option>
                    <option value="3">Mejora</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="finalidad"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="idBeneficio">Beneficios:</label>
                <textarea id="idBeneficio" class="form-control" rows="2" cols="90" required></textarea>
            </div>
        </div>
    </div>

    <div class="row form-section">
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <label class="control-label" for="Presupuesto">Presupuesto</label>
                <input name="Presupuesto" class="form-control" id="idPresup" type="number">
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Presupuesto"></span>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <label class="control-label" for="FechaInicial">Fecha inicial</label>
                <input type="date" class="form-control" id="FechaInicial" required>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <label class="control-label" for="FechaFinal">Fecha final</label>
                <input type="date" class="form-control" id="FechaFinal" required>
            </div>
        </div>
    </div>

    <div class="row form-section">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="updDeficiencia">Deficiencia</label>
                <select name="updDeficiencia" class="form-control" id="updDeficiencia" onchange="aceptabilidadRiesgo()">
                    <option value="10">Muy alto</option>
                    <option value="6">Alto</option>
                    <option value="2">Medio</option>
                    <option value="0">Bajo</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="updDeficiencia"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="updExposicion">Exposición</label>
                <select name="updExposicion" class="form-control" id="updExposicion" onchange="aceptabilidadRiesgo()">
                    <option value="4">Continua</option>
                    <option value="3">Frecuente</option>
                    <option value="2">Ocasional</option>
                    <option value="1">Esporádica</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="updExposicion"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="updConsecuencia">Consecuencia</label>
                <select name="updConsecuencia" class="form-control" id="updConsecuencia" onchange="aceptabilidadRiesgo()">
                    <option value="100">Mortal o catastrófico</option>
                    <option value="60">Muy grave</option>
                    <option value="25">Grave</option>
                    <option value="10">Leve</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="updConsecuencia"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="hidden" id="updAceptabilidad" name="updAceptabilidad" />
                <label class="control-label" for="updTxtAceptability">Aceptabilidad</label>
                <p id="updTxtAceptability"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="idObserv">Observaciones:</label>
                <textarea id="idObserv" class="form-control" rows="2" cols="90" required></textarea>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#createSigueModal">Crear nuevo seguimiento</button>
                <div class="col-12 d-flex justify-content-between">
                    <button type="button" id="btnShowControlTrace" class="btn btn-info" onclick="showControlTraceAll()">Ver seguimientos</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createSigueModal" tabindex="-1" role="dialog" aria-labelledby="createSigueModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createSigueModalLabel">Crear nuevo seguimiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="controlTraceID">Nueva medida de intervención:</label>
                        @Html.DropDownList("Controles", controls as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "controlTraceID" })
                    </div>
                    <div class="form-group">
                        <label class="control-label mr-2" for="efectividad">La medida aplicada fué efectiva</label>
                        <input type="checkbox" id="efectividad" name="efectividad">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="maintCauseID">Causa fundamental de la inefectividad:</label>
                        @Html.DropDownList("Causas", mainCauses as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "mainCauseID" })
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#createCauseModal">Crear nueva causa</button>
                    </div>
                    <div class="modal fade" id="createCauseModal" tabindex="-1" role="dialog" aria-labelledby="createCauseModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createCauseModalLabel">Crear nueva causa</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" id="mainCause" rows="3" required placeholder="Ingrese nombre de la causa"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" onclick="addMainCause();">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="observations">Observaciones:</label>
                        <textarea id="observations" class="form-control" rows="3" style="resize:none;" required></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label mr-2" for="actionTraceID">Generar nueva acción CPM</label>
                        <input type="checkbox" id="actionTraceID" name="actionTraceID">
                    </div>

                    <div class="form-group">
                        <label for="categoriaAcc">Finalidad</label>
                        <select name="finality" class="form-control" id="finality">
                            <option selected="selected" value="0">Seleccione ..</option>
                            <option value="1">Preventivo</option>
                            <option value="2">Correctivo</option>
                            <option value="3">Mejora</option>
                        </select>
                        <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="categoriaAcc"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="addControlTrace()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container showControlTrace"></div>
    <hr class="mt-4">
    <div class="row form-section">
        <div class="col-12 d-flex justify-content-between">
            <button type="button" id="btnAddInterven" class="btn btn-primary" onclick="AddInterven()">Adicionar</button>
            <button type="button" id="btnUpdInterven" class="btn btn-primary" onclick="UpdateIntervencion()">Guardar</button>
            <button type="button" id="btnCanInterven" class="btn btn-secondary" onclick="CancelInterven()">
                <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
            </button>
        </div>
    </div>

    <div class="row form-section">
        <div class="col-12 tabAddControlTrace">
            <input type="hidden" id="txtInfoAct" name="txtInfoAct" />
            <input type="hidden" id="idDescrip" name="idDescrip" />
            <input type="hidden" id="FechaSolicitud" name="FechaSolicitud" />
            <input type="hidden" id="FechaCierre" name="FechaCierre" />
            <input type="hidden" id="idTrabajador" name="idTrabajador" />
            <input type="hidden" id="idFuente" name="idFuente" />
            <input type="hidden" id="txtActionCategory" name="txtActionCategory" />
        </div>
    </div>
</div>
<hr class="mt-4">

