<br />
<div class="container" style="background-color:mediumaquamarine">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-2" for="txtStandard">ESTÁNDAR :</label>
                <div class="col-md-10">
                    <select name="txtStandardID" class="form-control col-md-2" id="txtStandardID">
                        <option selected="selected" value="0">Seleccione un estándar ...</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="txtStandardID"></span>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-2" for="txtDescripcion">DESCRIPCIÓN ARCHIVO :</label>
                <div class="col-md-10">
                    <input type="text" name="txtDescripcion" class="form-control" id="txtDescripcion" placeholder="Escriba una descripción del contenido del archivo">
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="txtDescripcion"></span>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-2" for="txtDocument">SELECCIONE UN ARCHIVO :</label>
                <div class="col-md-6">
                    <input type="file" class="form-control" id="fileLoad" name="fileLoad" required autofocus>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
