<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="addAuthorize">Adicionar una nueva autorización</button>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre Rol
            </th>
            <th>
                Componente
            </th>
            <th>
                Operación
            </th>
            <th>
                Acción
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>