<div class="table-responsive" style="background-color: azure">
    <button type="button" class="btn btn-primary" id="btnChartCycle" onclick="chartCalificationsCiclo()">Graficar ciclo</button>
    <button type="button" class="btn btn-warning" id="btnChartStandadrd" onclick="chartPorStandard()">Graficar estándar</button>
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="calificationsPhva" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="calificationsStandard" width="200" height="100"></canvas></div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    CICLO
                </th>
                <th>
                    ESTÁNDAR
                </th>
                <th>
                    ITEM DEL ESTÁNDAR
                </th>
                <th>
                    VALOR
                </th>
                <th>
                    PUNTAJE
                </th>
                <th>
                    CALIFICACIÓN
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tcuerpo">
        </tbody>
    </table>
</div>