<div class="container">
    <div class="table-responsive" style="background-color: azure">
        <table class="table table-bordered table-striped">
            <thead>
                <tr style="background-color:gainsboro; width:auto">
                    <th>
                        FECHA
                    </th>
                    <th>
                        RESULTADO
                    </th>
                    <th>
                        RECOMENDACIONES
                    </th>
                    <th>
                        OPCIONES
                    </th>
                </tr>
            </thead>
            <tbody class="seguimientosBody">
            </tbody>
        </table>
    </div>
</div>
