<hr />
<hr />
<hr />
<div class="container" style="background-color:antiquewhite">
    <table class="table">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>