<hr />
<div class="table-responsive" style="background-color: azure">
    <button type="button" class="btn btn-primary" id="btnChartCycle" onclick="chartCalificationsCiclo()">Grafica ciclo</button>
    <button type="button" class="btn btn-warning" id="btnChartStandadrd" onclick="chartCalificationsStandard()">Grafica estándar</button>
    <div class="row" style="margin-top:8%">
        <div class="col-lg-6">
            <img src="" id="imgCalificationsCiclo" class="rounded float-left" alt="..." />
        </div>
        <div class="col-lg-6">
            <img src="" id="imgCalificationsStandard" class="rounded float-left" alt="..." />
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    CICLO
                </th>
                <th>
                    ESTÁNDAR
                </th>
                <th>
                    ITEM DEL ESTÁNDAR
                </th>
                <th>
                    VALOR
                </th>
                <th>
                    PUNTAJE
                </th>
                <th>
                    CALIFICACIÓN
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tcuerpo">
        </tbody>
    </table>
</div>