<hr />
<div class="table-responsive-xl" style="background-color: mediumaquamarine">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    CICLO
                </th>
                <th>
                    ITEM DEL ESTÁNDAR
                </th>
                <th>
                    VALOR
                </th>
                <th>
                    CUMPLE
                </th>
                <th>
                    NO CUMPLE
                </th>
                <th>
                    NO APLICA
                </th>
                <th>
                    CALIFICACIÓN
                </th>
                <th>
                    EVALUAR
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>