<hr />
<div class="table-responsive" style="background-color: azure">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    CICLO
                </th>
                <th>
                    ESTÁNDAR
                </th>
                <th>
                    ITEM DEL ESTÁNDAR
                </th>
                <th>
                    VALOR
                </th>
                <th>
                    PUNTAJE
                </th>
                <th>
                    CALIFICACIÓN
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tcuerpo">
        </tbody>
    </table>
</div>