<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="addPlanAcc">Adicionar nuevo actividad</button>
</div>

<div class="table-responsive-xl" style="background-color:mediumaquamarine">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    CICLO
                </th>
                <th>
                    ITEM DEL ESTÁNDAR
                </th>
                <th>
                    OBSERVACIONES
                </th>
                <th>
                    ACTIVIDAD
                </th>
                <th>
                    RESPONSABLE
                </th>
                <th>
                    FECHA CUMPLIMIENTO
                </th>
                <th>
                    RECURSOS FINANCIEROS
                </th>
                <th>
                    ESTADO
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>