<hr />
<div class="table-responsive-xl" style="background-color: mediumaquamarine">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    ITEM DEL ESTÁNDAR
                </th>
                <th>
                    VALOR
                </th>
                <th>
                    CUMPLE
                </th>
                <th>
                    NO CUMPLE
                </th>
                <th>
                    JUSTIFICA
                </th>
                <th>
                    NO JUSTIFICA
                </th>
                <th>
                    CALIFICACIÓN
                </th>
                <th>
                    OBSERVACIÓN
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>