<hr />
<hr />
<hr />
<div class="table-responsive-xl" style="background-color: mediumaquamarine">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    ID
                </th>
                <th>
                    NOMBRE
                </th>
                <th>
                    OPCIONES
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
