<div class="container">
    <div class="table-responsive" style="background-color: azure">
        <table class="table table-bordered table-striped">
            <thead>
                <tr style="background-color:gainsboro; width:auto">
                    <th>
                        FECHA
                    </th>
                    <th>
                        RESPONSABLE
                    </th>
                    <th>
                        OBSERVACIONES
                    </th>
                    <th>
                        CRONOGRAMA
                    </th>
                    <th>
                        ESTADO
                    </th>
                    <th>
                        PROGRAMADAS
                    </th>
                    <th>
                        EJECUTADAS
                    </th>
                    <th>
                        ARCHIVO ADJUNTO
                    </th>
                    <th>
                        OPCIONES
                    </th>
                </tr>
            </thead>
            <tbody class="gestSeguimients">
            </tbody>
        </table>
    </div>
</div>
