<hr />
<hr />
<hr />
<div class="table-responsive-xl" style="background-color: mediumaquamarine">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    PHVA
                </th>
                <th>
                    ITEM
                </th>
                <th>
                    ESTÁNDAR
                </th>
                <th>
                    DESCRIPCIÓN ARCHIVO
                </th>
                <th>
                    TIPO
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>