<hr />
<div class="table-responsive" style="background-color:mediumaquamarine">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    CAUSA
                </th>
                <th>
                    ACTIVIDAD
                </th>
                <th>
                    PRIORITARIA
                </th>
                <th>
                    RESPONSABLE
                </th>
                <th>
                    COSTOS
                </th>
                <th>
                    FECHA INICIAL
                </th>
                <th>
                    FECHA CIERRE
                </th>
                <th>
                    ESTADO
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>