<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error :</h1>
        <h2>@Session["userName"].ToString().Trim() : No es posible llevar a cabo la petición.</h2>
        <h3><b>Favor notificar al lider de la aplicación.</b></h3>
    </hgroup>
</body>
</html>
