@model WSafe.Web.Models.IndicadorViewModel

@{
    ViewBag.Title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

<div class="container">
    <hr />
    <h2 style="background-color:blue;color:white"><i class="fa fa-search" style="width:18px"></i>  Dashboard Indicadores y acciones</h2>
    <hr />
    <label>SELECCIONE PERIODO :</label><br />
    <div style="display:inline; background-color:green; color: white; width:11px; padding:12px">
        <div class="form-check-inline">
            <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="peri1"> ENERO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="peri2"> FEBREO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="peri3"> MARZO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="peri4"> ABRIL
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="peri5"> MAYO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="peri6"> JUNIO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="peri7"> JULIO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="peri8"> AGOSTO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="peri9"> SEPTIEMBRE
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="peri10"> OCTUBRE
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="peri11"> NOVIEMBRE
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="peri12"> DICIEMBRE
            </label><br /><br /><br />
        </div>
    </div>
    <button type="button" id="btnLoadInfo" class="btn btn-info" onclick="LoadInforme()">Buscar</button>
</div>

<div class="container">
    <hr />
    <div class="row" style="background-color:grey; color:white ;font-size:15px; padding:15px">
        <div class="col-md-3">
            <p id="txtMortales">ACCIDENTES LABORALES : </p>
        </div>
        <div class="col-md-2">
            <p id="txtAccidentes">ACCIDENTES MORTALES : </p>
        </div>
        <div class="col-md-2">
            <p id="txtPromedio">TRABAJADORES : </p>
        </div>
        <div class="col-md-2">
            <p id="txtAusentismo">AUSENTISMO : </p>
        </div>
        <div class="col-md-3">
            <p id="txtEnfermedad">AUSENTISMO POR ENFERMEDAD LABORAL : </p>
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>FRECUENCIA ACCIDENTALIDAD</label>
            <img src="~/Images/chart01.jpg" width="400"/>
            <button type="button" id="btnLoadInfo" class="btn btn-info" onclick="LoadFrecuencia()"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-md-4">
            <label>SEVERIDAD ACCIDENTALIDAD</label>
            <img src="~/Images/chart02.jpg" width="400"/>
            <button type="button" id="btnLoadInfo" class="btn btn-info" onclick="LoadSeveridad()"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-md-4">
            <label>PROPORCIÓN ACCIDENTES MORTALES</label>
            <img src="~/Images/chart03.jpg" width="400"/>
            <button type="button" id="btnLoadInfo" class="btn btn-info" onclick="LoadProporcion()"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>ACCIDENTABILIDAD</label>
            <img src="~/Images/chart04.jpg" width="400" />
            <button type="button" id="btnLoadInfo" class="btn btn-info" onclick="LoadAccidentabilidad()"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-md-4">
            <label>PROPORCIÓN ACCIONES EFECTIVAS</label>
            <img src="~/Images/chart05.jpg" width="400" />
            <button type="button" id="btnLoadInfo" class="btn btn-info" onclick="LoadEfectividadAcciones()"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-md-4">
            <label>PROPORCIÓN ACCIONES EFECTIVAS</label>
            <img src="~/Images/chart05.jpg" width="400" />
            <button type="button" id="btnLoadInfo" class="btn btn-info" onclick="LoadEfectividadAcciones()"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>

